* {
    margin: 0;
    padding: 0;
}
#header {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    min-height: 10vh;
    font-family: "Poppins", sans-serif;
    padding: 1rem;
    h2 {
        text-align: start;
        justify-self: start;
        color: #c2c2c2;
        font-size: 1.2rem;
    }
    nav {
        width: 70%;
        display: grid;
        justify-self: end;
        position: relative;
        a {
            justify-self: end;
            width: 95px;
            grid-template-columns: 1fr 1fr;
            gap: 11px;
            display: grid;
            place-items: center;
            text-decoration: none;
            color: black;
        }
        img {
            width: 20px;
            justify-self: end;
        }
    }
}
#main {
    min-height: 80vh;
    background-color: #f5f0f0;
    display: grid;
    place-items: center;
    align-self: start;
    font-family: "Poppins", sans-serif;
}
#main-section {
    display: grid;
    place-items: center;
    align-self: start;
    margin-top: 1rem;
}
.main_card {
    min-height: 55vh;
    width: 80%;
    display: grid;
    place-items: center;
    align-self: start;
    background-color: white;
    margin-bottom: 1rem;
    border-radius: 10px;
    h3,
    p {
        text-align: center;
    }
}
#footer {
    min-height: 10vh;
    display: grid;
    place-items: center;
    background-color: black;
    p {
        text-align: center;
        color: rgb(211, 210, 210);
    }
}

@media only screen and (min-width: 600px) {
    #main-section .main_card {
        width: 44%;
    }
}
@media only screen and (min-width: 1000px) {
    #main > #main-section {
        grid-template-columns: 1fr 1fr 1fr;
        width: 70%;
        gap: 1rem;
        .main_card {
            width: 100%;
            min-height: 58vh;
            .image_card > img {
                max-width: 200px;
                height: 200px;
            }
        }
    }
}
